
<main>
    <section class="container">
        <div class="jumbotron jumbotron-fluid mt-3 mb-5">
                <h1 class="display-4 text-center">Cadastro</h1>
        </div>
            <form [formGroup]="clienteForm"  class="form card-body bg-light row gx-5 gy-4" (submit)="cadastro()">
                <h2 class="gy-0">Dados Pessoais</h2>
                <div class="form-group col-md-3">
                    <label for="nome" class="form-label fs-5">Nome</label>
                    <input formControlName="nome" type="text"
                            class="form-control" id="nome" placeholder="Nome do cliente" autofocus required>
                </div>
                <div class="form-group col-md-2">
                    <label for="cpf" class="form-label fs-5">CPF</label>
                    <input formControlName="cpf" maxlength="14" type="text"
                            class="form-control" id="cpf" placeholder="CPF do cliente" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="telefone" class="form-label fs-5">Telefone</label>
                    <input formControlName="telefone" maxlength="20"
                        class="form-control" id="telefone" placeholder="Telefone do cliente"
                        pattern="\(?\d{2}\)?\s?9\d{4}-?\d{4}" data-tipo="telefone" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="email" class="form-label fs-5">Email</label>
                    <input formControlName="email"e class="form-control"
                            id="email" placeholder="Email do cliente" data-tipo="email" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="profissao" class="form-label fs-5">Profissão</label>
                    <input formControlName="profissao" class="form-control"
                            id="profissao" required>
                    <div class="invalid-feedback">
                        <span>Erros na Profissão do cliente</span>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="renda" class="form-label fs-5">Renda</label>
                    <input formControlName="renda" type="text" class="form-control"
                            id="renda" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="status" class="form-label fs-5">Status</label>
                    <select formControlName="status" class="form-control">
                        <option selected value="ATIVO">Ativo</option>
                        <option value="SUSPENSO">Suspenso</option>
                    </select>
                </div>
                <h4 class="gy-0">Endereco</h4>
                <div class="form-group col-md-3">
                    <label for="rua" class="form-label fs-5">Rua</label>
                    <input formControlName="rua" class="form-control" id="rua"
                        maxlength="300" data-tipo="rua" required>
                    <div class="invalid-feedback">
                        <span>Erros na Rua do Endereco</span>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="numero" class="form-label fs-5">Número</label>
                    <input formControlName="numero" class="form-control"
                            id="numero" data-tipo="numero" pattern="\w*\/?\w*" required>
                    <div class="invalid-feedback">
                        <span>Erros no Numero do Endereco</span>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="complemento" class="form-label fs-5">Complemento</label>
                    <input formControlName="complemento" class="form-control" id="complemento" maxlength="300" >
                    <div class="invalid-feedback">
                        <span>Erros no Complemento do Endereco</span>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="bairro" class="form-label fs-5">Bairro</label>
                    <input formControlName="bairro" type="text" class="form-control" id="bairro"
                        maxlength="200" data-tipo="bairro" required>
                    <div class="invalid-feedback">
                        <span>Erros no Bairro do Endereco</span>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="cidade" class="form-label fs-5">Cidade</label>
                    <input formControlName="cidade" class="form-control" id="cidade"
                            data-tipo="cidade" maxlength="150" required >
                    <div class="invalid-feedback">
                        <span >Erros na Cidade de Endereco</span>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="estado" class="form-label fs-5">Estado</label>
                    <select formControlName="estado" id="estado" class="form-select"
                            required >
                        <option selected value="">Selecione...</option>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MS">MS</option>
                        <option value="MT">MT</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SP">SP</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                    </select>
                    <div class="invalid-feedback">
                        <span>Erros no Estado de Endereco</span>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <button class="btn btn-primary " id="cadastro" type="submit">Cadastrar</button>
                </div>
            </form>
    </section>
</main>